.myClass1 {
  width: 100%;
  font-weight: darker;
  text-align: center;
  font-size: 40px;
  color: grey;
  font-family: Lato, "sans serif";
}

.myClass2 {
  width: 100%;
  font-weight: bold;
  text-align: left;
  font-size: 24px;
  color: darkgray;
}

.myClass3 {
  text-align: center;
  background-color: yellow;
  padding: 10px;
  margin: 5px;
  font-size: 14px;
  color: green;
  font-family: "Comic Sans MS", Arial;
}

#myID1 {
  width: 100%;
  font-weight: bold;
  text-align: right;
  font-size: 50px;
  color: indianred;
  font-family: Lato, "sans serif";
}
.myClass4 {
  width: 100%;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  color: black;
}
div {
  float: right;
  background-color: lightyellow;
  width: 308px;
  border: 10px darkyellow;
  padding: 30px;
  margin: 20px; 
}
.myClass5 {
  width: 22%;
  font-weight: bold;
  text-align: left;
  font-size: 24px;
  color: black;
}